################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/DotNetCoreSharp2Sandbox/v16
/DotNetCoreSharp2Sandbox/bin
/DotNetCoreSharp2Sandbox/obj
